
body {
    background: linear-gradient(to right, #8e3600, #fbd1b7);

    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 90px;
}

.a {
    color: rgb(28, 20, 21);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 14px 38px 14px 38px;
    width: 168px;
    height: 64px;
    border-radius: 50px;
    background: rgb(28, 20, 21);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;

}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.content {
    width: 50%;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Sofia Sans;
    font-size: 76px;
    font-weight: 900;
    line-height: 137%;
    letter-spacing: -1%;

}

.pon {
    color: #333;
    font-family: Sofia Sans;
    font-size: 52px;
    font-weight: 900;
    line-height: 115.5%;
    letter-spacing: -1%;

}

h2 {
    color: rgb(255, 255, 255);
    font-family: Sofia Sans;
    font-size: 52px;
    font-weight: 900;
    line-height: 115.5%;
    letter-spacing: -1%;

}

p {
    color: rgba(28, 20, 21, 0.8);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0%;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 70px;
    font-weight: 700;
    line-height: 137%;
    letter-spacing: -1%;
}

.social-icons a {
    margin-right: 10px;
}

.slider {
    position: relative;
    width: 45%;
}

.swiper {
    width: 100%;
}